<div class="col-10 justify-content-around m-5">
      <h3> How to Use of OCS Button's Component </h3>
      <mat-tab-group class="mt-3">
            <mat-tab label="Overview">
                  <p>&nbsp;</p>

                  <p>The&nbsp;<code>ocs-number-box</code>&nbsp;package provides useful utilities for working with digits
                        input fields ;</p>
                  <p>A Basic Date Box Component,whci can be created by ocs component looks like :</p>

                  <div class="col-3">
                        <ocs-persian-date-box></ocs-persian-date-box>
                  </div>

            </mat-tab>
            <mat-tab label="Example">
                  <div>
                        
                  </div>
            </mat-tab>         
      </mat-tab-group>

</div>