<!-- https://wordhtml.com/  -->

<div class="col-10 justify-content-around m-5">
      <h3> How to Use of OCS Button's Component </h3>
      <mat-tab-group class="mt-3">
            <mat-tab label="Overview">
                  <p>&nbsp;</p>
                  <p>The&nbsp;<code>ocs-number-box</code>&nbsp;package provides useful utilities for working with digits
                        input fields ;</p>
                  <p>A Basic Number Box Component,whci can be created by ocs component looks like :</p>

                  <div class="col-3">
                        <ocs-number-box></ocs-number-box>
                  </div>

                  <p>&nbsp;</p>
                  <p>In order to use a number-box component, you must perform the following steps:</p>
                  <ol>
                        <li>Import the specific number-box module "OcsNumberBoxModule" into your current module which
                              has
                              been imported from the "ocs-ui-core" ibrary.&nbsp;<br /><br /></li>
                        <li>Insert its specific tag into the current template :
                              &lt;ocs-number-box&gt;&lt;/ocs-number-box&gt;<br /><br /></li>
                        <li>This tag could have these attributes values:</li>
                  </ol>
                  <p>&nbsp;</p>

                  <ul style="list-style-type: circle;">

                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;size:&nbsp;InputControlSize;</span>
                              </p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;required: &nbsp;boolean;</span>
                              </p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;hint:&nbsp;string;</span></p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;placeholder:&nbsp;string;</span>
                              </p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;showMessages:&nbsp;boolean;</span>
                              </p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;readonly:&nbsp;boolean;</span>
                              </p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;label:&nbsp;string;</span></p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;maxlength:&nbsp;number&nbsp;|&nbsp;string;</span>
                              </p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;min:&nbsp;number&nbsp;|&nbsp;string;</span>
                              </p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;max:&nbsp;number&nbsp;|&nbsp;string;</span>
                              </p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;_addons:&nbsp;QueryList&lt;OcsTextBoxAddonDirective&gt;;</span>
                              </p>
                        </li>
                        <li>
                              <p><span
                                          style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;_inputBase:&nbsp;OcsInputBaseComponent;</span>
                              </p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;_host:&nbsp;NgModel;</span></p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp; &nbsp;_disabled:&nbsp;boolean;</span></p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;_error:&nbsp;any;</span></p>
                        </li>
                        <li>
                              <p><span style="color: #0000ff;">&nbsp;&nbsp;&nbsp;&nbsp;_value:&nbsp;any;</span></p>
                        </li>
                  </ul>
            </mat-tab>
            <mat-tab label="Example">
                  <div>
                        <p>&nbsp;</p>
                        To use of text box component its neededto import "OcsButtonModule" in the current module which
                        has been imported from the <p class="font-weight-bold">"ocs-ui-core"</p>library.

                        To demonstrate a number-box which can maximum 4 digits as Id and is required in a form; must set these attributes:


                        <p><span style="color: #0000ff;"><br /> &lt;ocs-number-box class="w-25" [maxlength]="4" [label]="'Id'" reuired&gt;&lt;/ocs-number-box&gt;</span></p>

                        the result is : <br/>


                        <ocs-number-box class="w-25" [maxlength]="4" [label]="'Id'" reuired ></ocs-number-box>


                  </div>
            </mat-tab>
            <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
      </mat-tab-group>

</div>