<div class="col-10 justify-content justify-content-around m-5">
<h3>
    Setting up the OCS Projects and Workspace
</h3>
<br>
<p>
    This guide explains how to set up your environment for Angular development using the OCS Core Project tool.
    
    It includes information about prerequisites, installing the OCS Core Project, creating an initial components
    and use of the facilities that has been located in the OCS core, inaddition of running that app locally to
    use your setup.
</p>
</div>
